* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

input[type='radio'] {
    display: none;
}

.content {
    display: none;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 15px;
}

.container:hover {
    cursor: pointer;
}

.container:hover .tab__title {
    color: black;
}

.container:hover svg {
    display: block;
}

.bayan__title {
    font-size: 4rem;
    border-bottom: 5px solid rgb(139, 140, 172);
}

@media (max-width: 950px) {
    .bayan__title {
        font-size: 4rem;
    }
}

@media (max-width: 820px) {
    .bayan__title {
        font-size: 2rem;
    }
}

@media (max-width: 580px) {
    .bayan__title {
        font-size: 1.5rem;
    }
}

.tab__title {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    font-size: 2rem;
    color: blue;
    font-weight: 600;
    padding: 17px 0 0 0;
    border-bottom: 5px solid rgb(139, 140, 172);
    cursor: pointer;
}

@media (max-width: 950px) {
    .tab__title {
        font-size: 1.3rem;
    }
}

@media (max-width: 580px) {
    .tab__title {
        font-size: 1rem;
    }
}

svg {
    display: none;
    width: 24px;
    height: 24px;
    margin-left: 10px;
}

.tab__title:hover ~ .content {
    display: block;
}

.tab__title:hover svg {
    transform: rotate(45deg);
    transition-duration: 1s;
}

input:checked ~ .tab__title > svg {
    transform: rotate(45deg);
    transition-duration: 1s;
}

input:checked ~ .tab__title {
    color: black;
}

input:checked ~ .content {
    display: block;
}

.content {
    padding: 30px 0;
    width: 60%;
    margin: 0 auto;
    animation: show 1s 1;
}

@media (max-width: 820px) {
    .content {
        width: 70%;
        padding: 20px 0;
    }
}

@media (max-width: 580px) {
    .content {
        width: 80%;
        padding: 15px 0;
    }
}


.content_img {
    display: block;
    height: 0;
    padding: 0;
    padding-bottom: 75%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
}

@keyframes show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
