* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

input[type='radio'] {
    display: none;
}

.content {
    display: none;
}

.container {
    margin: 0 auto;
    max-width: 1080px;
    padding: 0 15px;
}

.container:hover {
    cursor: pointer;
}

.container:hover .tab__title {
    color: black;
}

.container:hover svg {
    display: block;
}

.bayan__title {
    font-size: 4rem;
    border-bottom: 5px solid rgb(139, 140, 172);
}

.tab__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
    color: blue;
    font-weight: 600;
    padding: 17px 0 0 0;
    border-bottom: 5px solid rgb(139, 140, 172);
    cursor: pointer;
}

svg {
    display: none;
}

.tab__title:hover ~ .content {
    display: block;
}

.tab__title:hover svg {
    transform: rotate(45deg);
    transition-duration: 1s;
}

input:checked ~ .tab__title > svg {
    transform: rotate(45deg);
    transition-duration: 1s;
}

input:checked ~ .tab__title {
    color: black;
}

input:checked ~ .content {
    display: block;
}

.content {
    padding: 30px 0;
    width: 60%;
    margin: 0 auto;
    animation: show 1s 1;
}

.content_img {
    display: block;
    height: 0;
    padding: 0;
    padding-bottom: 75%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
}

@keyframes show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
